<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM gmail application test">

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListner" />
</listeners>



	<test name="Gmail test ">
		<classes>
			<class name="com.gmail.testcases.LoginPageTest"></class>
			<class name="com.gmail.testcases.HomePageTest"></class>

		</classes>
	</test>

</suite>
